<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Card Collection</title>
    <link rel="stylesheet" href="css/collection.css" type="text/css">
</head>

<body>
    <h1>Magic The Gathering Card Collection</h1>
    <a href="/">Main Page</a>
    <br><br>
    <%- collection %>
    <a href="/" id="mainPage">Main Page</a>
</body>