<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Card Collection</title>
    <link rel="stylesheet" href="css/index.css" type="text/css">
</head>

<body>
    <h1>Magic The Gathering Card Collector</h1>
    <h3>Enter card info and submit to add to collection</h3>

    <form action="/" method="post" >
        <fieldset>
            <br>
            <label for="cardName">Card Name:</label>
            <br>
            <input type="text" id="cardName" name="cardName">
            <br><br>
            <label for="cardSet">Set:</label>
            <br>
            <input type="text" id="cardSet" name="cardSet">
            <br><br>
            <label for="cardNum">Card Number:</label>
            <br>
            <input type="text" id="cardNum" name="cardNum">
        </fieldset>
        <br>
        <input type="reset" id="reset" value="Reset">
        <input type="submit" id="submit" value="Add Card">

    </form>
    <br>
    <hr>
    <a href="/collection">View Collection</a>
</body>

</html>