<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Form Submission</title>
    <link rel="stylesheet" href="css/processForm.css" type="text/css">
</head>

<body>
    <br>
    <div>
        <%- cardName %>
	</div>
    <br>
    <img src="<%- imgURL %>">
    <hr>
    <a href="/">Add Another Card</a>
</body>

</html>